header {
  margin-top:50px;
}

div#siteheader a {
  font-size:20px;
  font-family:"Lato", sans-serif;
  margin:5px;
}

div#main {
  margin:auto;
  padding:10px;
  max-width:1000px;
}

body {
  margin:auto;
  padding:10px;
  font-size:13px;
  font-family:"Roboto mono", monospace; 
  line-height:1.4em;
}

h1.title {
  text-align: center;
}

p.author {
  text-align: center;
}

p.date {
  text-align: center;
}

div.tablature {
  text-align:center;
}

.measure {
  font-family:monospace;
  white-space:pre;
  display:inline-block;
}

/* Creates dark mode */
html * {
    background-color: #222;
    color: #e6e6e6;
    border-color: #e6e6e6;
}
